<div class="content">
    <app-header></app-header>

    <div class="doing-title">
        <div class="row">
            <div class="col-sm-3 doing-content mat-elevation-z8 animate__animated animate__zoomInRight">
                <app-doing></app-doing>
            </div>
            <div class="col-sm-8 body-content animate__animated animate__fadeInRight mat-elevation-z8">
                <div style="margin-top: 20px; margin-bottom: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>