<div class="content">
    <mat-toolbar class="mat-elevation-z8 animate__animated animate__fadeInDown" style="background-color: white;">
        <div class="col-sm-4">
            <img src="../../../assets/images/madacan.PNG">
        </div>
        <div class="col-sm-4" style="text-align: center;">
            <span>Bonjour Mr RAKOTO</span>
        </div>
        <div class="col-sm-4">
            <span style="float: right;" class="color" (click)="logout()">
                <mat-icon>logout</mat-icon> Déconnexion
            </span>
        </div>
    </mat-toolbar>

    <div class="band animate__animated animate__fadeInLeft mat-elevation-z8">
        <mat-label class="band-title">FORMATION : LIPSUM</mat-label>
    </div>

    <div class="doing-title">
        <div class="row">
            <div class="col doing-content mat-elevation-z8 animate__animated animate__zoomInRight">
                <app-doing></app-doing>
            </div>
            <div class="col exercise-content animate__animated animate__backInUp mat-elevation-z8">
                <app-exercise></app-exercise>
            </div>
        </div>
    </div>
</div>